* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.start-page {
    color: #293264;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 100px;
}

.title {
    font-size: 31.25px;
    margin-bottom: 0;
}

.description {
    font-size: 16px;
}

.start-quiz {
    width: 193px;
    height: 52px;
    border-radius: 15px;
    background-color: #4D5B9E;
    color: #F5F7FB; 
    border: none;
}

.question-content {
    margin-left: 50px;
    border-bottom: 1px solid #DBDEF0;
}

.question-title {
    margin-top: 14px;
    margin-left: 50px;
    margin-bottom: 15px;
    color: #293264;
    font-family: karla;
    font-weight: 700; 
}

.button {
    display: flex;
    display: inline-block;
    margin-right: 13px;
    margin-bottom: 15px;
    font-size: 11px;
}

.option-button {
    width: 100%;
    height: 21px;
    border-radius: 8px;
    border: 0 solid #4D5B9E;
    color: #293264;
    font-size: 10px;
    font-family: inter;
    font-weight: 500;
}

.check-answer, .play-again {
    font-family: inter;
    font-size: 10px;
    font-weight: 600;
    background: #4D5B9E;
    color: #F5F7FB;
    border-radius: 10px;
    border: none;
}

.check-answer {
    width: 120px;
    display: flex;
    justify-content: center;
    line-height: 35px;
    margin: 20px auto;
}

.play-again {
   width: 104px;
   height: 30px; 
   margin-top: 15px;
}

.check {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.question-check {
    color: #293264;
    font-family: inter;
    font-size: 13px;
    font-weight: 700;
    margin-top: 25px;
}



